$primary: #b71c1c;

@import '~/node_modules/bootstrap/scss/bootstrap';
@import '~/node_modules/bootstrap-vue/src/index.scss';

@font-face {
  font-family: 'SpecialElite';
  src: url('~static/fonts/SpecialElite-Regular.ttf');
}

h1,
h2,
h3,
h4 {
  font-family: 'SpecialElite', monospace;
}

@media print {
  @for $i from 1 through 12 {
    .col-print-#{$i} {
      flex: 0 0 #{percentage($i/12)};
      max-width: #{percentage($i/12)};
    }
  }
}

.spec-card {
  .spec-table {
    margin: 0;
  }

  .spec-heading {
    font-weight: bold;
  }
}
